<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
        <nav>
            <a class="brand"><img src="./images/logo-light.png" alt="Alam Rohmat Garder" /></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li>
                    <a href="https://hafidzubaidillah.com" target="_blank">About Us</a>
                </li>
            </ul>
        </nav>
    <section id="head">
        <div class="jumbotron">
            <div class="content">
                <h1 class="title"><span>Restaurant Apps</span></h1>
                <p id="description">
                    <span>
                        Alam Rohman Garden Restaurant is a family-owned restaurant located in the heart of Jakarta, Indonesia. We are a family-owned restaurant that specializes in Indonesian cuisine. We are located in the heart of Jakarta, Indonesia. We are a family-owned restaurant
                        that specializes in Indonesian cuisine.
                    </span>
                </p>
            </div>
            <img src="./images/heros/hero-image_2.jpg" alt="Restaurant">
        </div>
    </section>
    <main>
        <section class="explore">
            <h1 class="title">Explore Restaurant</h1>
            <div class="list">
                <article class="card">
                    <span class="city">City</span>
                    <img src="./images/heros/hero-image_1.jpg" alt="">
                    <div class="content">
                        <span class="rating">rating: 5.0</span>
                        <header>
                            <h1>Example Title</h1>
                        </header>
                        <p class="description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti laboriosam temporibus excepturi repudiandae hic veritatis ex molestiae id facere, blanditiis exercitationem ipsam amet, ipsum porro corrupti quidem reiciendis, quae vero!
                        </p>
                    </div>
                </article>
                <article class="card">
                    <span class="city">City</span>
                    <img src="./images/heros/hero-image_1.jpg" alt="">
                    <div class="content">
                        <span class="rating">rating: 5.0</span>
                        <header>
                            <h1>Example Title</h1>
                        </header>
                        <p class="description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti laboriosam temporibus excepturi repudiandae hic veritatis ex molestiae id facere, blanditiis exercitationem ipsam amet, ipsum porro corrupti quidem reiciendis, quae vero!
                        </p>
                    </div>
                </article>
            </div>
        </section>
    </main>
</body>

</html>