<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portal of Food is a web application that helps you to find the best restaurant in your area. You can search for restaurant by name, location, category, and more. You can also add your favorite restaurant to your favorite list. You can also see your favorite restaurant list. You can also see the restaurant list in your area. You can also see the restaurant list in your favorite category. You can also see the restaurant list in your favorite location. You can also see the restaurant list in your favorite name. You can also see the restaurant list in your favorite category and location.">

    <title>Portal Of Foods</title>
</head>

<body>
    <section id="skipContent" class="helper" tabindex="0">
        <h1>
            This is a helper if you are using a screen reader. Press tab to go to navigation of helper.
        </h1>
        <a href="#head">Skip to head or the jumbotron</a>
        <a href="#nav">Skip to navigation</a>
        <a href="#mainContent">Skip to main content</a>
        <a href="#footer">Skip to footer</a>
        <a href="#skipContent">Repeat this helper</a>
    </section>
    <nav id="nav">
        <a href="/" class="brand">
            <span>P</span><span>o</span><span>F</span>
        </a>
        <button class="nav-toggle" aria-label="Toggle to open or close navigation bar"><i class="fa-solid fa-bars fa-2xl"></i></button>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li>
                <a href="https://hafidzubaidillah.com" target="_blank" rel="noopener">About Us</a>
            </li>
        </ul>
        <a href="#skipContent" class="helper">Press enter to main helper or next to the head of content</a>
    </nav>
    <section id="head">
        <div class="jumbotron">
            <div class="content">
                <h1 class="title" tabindex="0"><span>Portal of Foods</span></h1>
                <p id="description" tabindex="0">
                    <span>
                        Portal of Food is a web application that helps you to find the best restaurant in your area. You can search for restaurant by name, location, category, and more. You can also add your favorite restaurant to your favorite list. You can also see your favorite restaurant list. You can also see the restaurant list in your area. You can also see the restaurant list in your favorite category. You can also see the restaurant list in your favorite location. You can also see the restaurant list in your favorite name. You can also see the restaurant list in your favorite category and location.
                    </span>
                </p>
            </div>
            <img src="./images/heros/hero-image_2.jpg" alt="Portal of Foods" class="head-image">
        </div>
        <a href="#skipContent" class="helper">Press enter to main helper or next to the main content</a>
    </section>
    <main id="mainContent">
        <section id="explore" class="explore">
            <h1 class="title">Explore Restaurant</h1>
            <div class="list"></div>
            <div class="modal" id="explore-detail" tabindex="0"></div>
        </section>
    </main>
    <footer id="footer" tabindex="0">
        <p>Copyright © - Portal of Foods</p>
    </footer>
</body>

</html>