<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <header>
        <nav>
            <a class="brand"><img src="./images/logo-light.png" alt="Alam Rohmat Garder" /></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li>
                    <a href="https://hafidzubaidillah.com" target="_blank">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="head">
        <div class="jumbotron">
            <div class="content">
                <h1 class="title"><span>Restaurant Apps</span></h1>
                <p id="description">
                    <span>
                        Alam Rohman Garden Restaurant is a family-owned restaurant located in the heart of Jakarta, Indonesia. We are a family-owned restaurant that specializes in Indonesian cuisine. We are located in the heart of Jakarta, Indonesia. We are a family-owned restaurant
                        that specializes in Indonesian cuisine.
                    </span>
                </p>
            </div>
            <img src="./images/heros/hero-image_2.jpg" alt="Restaurant">
        </div>
    </section>
    <main>
        <!-- <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
        <p>
            Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen
        </p> -->
        <!-- <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
        <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
        <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
    </main>
</body>

</html>