@import './pallete.scss';
@import './media_query.scss';
body {
    margin: 0;
    background-color: $color-1;
    color: $color-4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @import './modal.scss';
    @import './form.scss';
    @import './nav.scss';
    @import './head.scss';
    @import './explore.scss';
    @import './footer.scss';
    @import './skip_content.scss';
    .visually-hidden {
        border: 0;
        padding: 0;
        margin: 0;
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip-path: inset(50%);
        white-space: nowrap;
    }
}