.explore {
    text-align: center;
    >.title {
        padding-top: 32px;
    }
    >.list {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 25%;
        gap: 16px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 0 16px;
        &::-webkit-scrollbar {
            @include lg-screen {
                display: none;
            }
        }
        @include lg-screen {
            grid-auto-columns: 33%;
        }
        @include md-screen {
            grid-auto-columns: 50%;
        }
        @include sm-screen {
            grid-auto-columns: 100%;
        }
        >.wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            scroll-snap-align: center;
            scroll-padding-inline: 5px;
            >article.card {
                height: auto;
                background-color: $color-2;
                border-radius: 5px;
                text-align: left;
                overflow: hidden;
                &::before {
                    position: relative;
                    width: 5px;
                }
                >img {
                    border-radius: 5px 5px 0 0;
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
                >.content {
                    height: inherit;
                    padding: 16px;
                    h1 {
                        font-size: x-large;
                        margin-bottom: 12px;
                    }
                    .description {
                        line-height: 1;
                        max-height: 5;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 5;
                    }
                }
                .rest {
                    height: max-content;
                    text-align: right;
                    padding: 16px;
                }
                .city {
                    position: absolute;
                    transform: translate(0, 50%);
                    z-index: 0;
                    background-color: $color-3;
                    color: $color-1;
                    padding: 10px;
                    font-weight: bold;
                }
                .rating {
                    font-weight: bold;
                }
            }
        }
    }
    .btn-detail {
        background-color: $color-3;
        padding: 16px;
        border: none;
        font-weight: bolder;
        min-height: 44px;
        min-width: 44px;
        &:hover {
            background-color: $color-4;
            color: $color-2;
        }
    }
    .modal {
        #img-thumbnail {
            height: 320px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .modal-body {
            display: flex;
            flex-direction: column;
            ul {
                list-style: none;
                padding: 0;
                li {
                    .review-content {
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                        background-color: $color-2;
                        margin-bottom: 16px;
                        &:hover {
                            box-shadow: inset 0 -2px 0 0 #fff;
                        }
                        .review-header {
                            display: flex;
                            flex-direction: column;
                            h3 {
                                margin: 0;
                                color: $color-3;
                            }
                            span {
                                font-size: small;
                                color: $color-3;
                            }
                        }
                        .review-body {
                            p {
                                line-height: 1;
                                max-height: 5;
                                overflow: auto;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 5;
                                // wrap: break-word;
                                word-wrap: break-word;
                            }
                        }
                    }
                }
            }
        }
        .favorite-toggle {
            position: sticky;
            bottom: 10px;
            left: 100%;
            margin: 0 16px 16px 0;
            background-color: $color-3;
            color: $color-1;
            padding: 16px;
            border: none;
            font-weight: bolder;
            min-height: 44px;
            min-width: 44px;
            border-radius: 100%
        }
        .favorite-red {
            color: red;
        }
    }
}