section#head {
    height: 40vh;
    max-height: 400px;
    display: flex;
    justify-content: center;
    transition: padding 1s;
    @include sm-screen {
        height: 100vh;
        max-height: fit-content;
    }
    >.jumbotron {
        width: calc(100vw - 400px);
        min-width: 1000px;
        height: inherit;
        display: flex;
        flex-direction: row;
        @include determined-screen {
            width: 100%;
            min-width: 10px;
        }
        picture {
            object-fit: cover;
            object-position: center;
            width: inherit;
            min-width: 1000px;
            height: inherit;
            position: absolute;
            z-index: -1;
            @include determined-screen {
                width: 100%;
                min-width: 0;
            }
            img {
                height: inherit;
                width: inherit;
                object-fit: cover;
                object-position: center;
                min-width: 1000px;
                @include determined-screen {
                    width: 100%;
                    min-width: 0;
                }
            }
        }
        >.content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 16px;
            text-align: center;
            @include determined-screen {
                height: inherit;
                width: 100%;
                * {
                    min-width: 0px;
                }
            }
            span {
                background-color: $color-1;
            }
            >.title {
                font-size: 2.5rem;
                font-weight: bold;
                color: $color-4;
                text-shadow: 0 0 2px #000;
                margin: 0;
            }
            >.description {
                font-size: 1.5rem;
                color: $color-4;
                text-shadow: 0 0 2px #000;
                margin: 0;
            }
        }
    }
}