.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.70);
    text-align: left;
    .modal-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-1;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        .modal-header {
            display: flex;
            justify-content: space-between;
        }
        .modal-body {
            display: flex;
            justify-content: space-between;
            table {
                width: 100%;
                tr {
                    td {
                        padding: 10px;
                        vertical-align: top;
                        ul {
                            padding-left: 16px;
                        }
                    }
                }
            }
        }
        .img-thumbnail {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }
}